Домашнее задание к семинару 10 (задача 44). В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [ ]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  human
4  robot

In [6]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame(list('whoAmI'))
pd.get_dummies(data)

   0_A  0_I  0_h  0_m  0_o  0_w
0    0    0    0    0    0    1
1    0    0    1    0    0    0
2    0    0    0    0    1    0
3    1    0    0    0    0    0
4    0    0    0    1    0    0
5    0    1    0    0    0    0

In [8]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame(list('whoAmI'))
pd.get_dummies(data)

   0_A  0_I  0_h  0_m  0_o  0_w
0    0    0    0    0    0    1
1    0    0    1    0    0    0
2    0    0    0    0    1    0
3    1    0    0    0    0    0
4    0    0    0    1    0    0
5    0    1    0    0    0    0

без метода pd.get_dummies перевести в one hot вид не получилось

In [10]:
import random
import pandas as get_dummies
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
pd.get_dummies(data)

    whoAmI_human  whoAmI_robot
0              0             1
1              1             0
2              1             0
3              1             0
4              0             1
5              1             0
6              0             1
7              1             0
8              1             0
9              1             0
10             0             1
11             0             1
12             1             0
13             0             1
14             0             1
15             0             1
16             1             0
17             1             0
18             0             1
19             0             1